<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox0</title>
    <link rel="stylesheet" href="Flexbox0.css">
</head>
<body>
    <header>
        <h1>Sample Flexbox Example</h1>
    </header>
    <section>
        <article>
            <h2>Artigo 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odit consequatur maiores, minima laborum quia totam qui dolorum modi distinctio neque minus excepturi perspiciatis architecto sequi voluptas ad expedita ratione.</p>
        </article>
        <article>
            <h2>Artigo 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odit consequatur maiores, minima laborum quia totam qui dolorum modi distinctio neque minus excepturi perspiciatis architecto sequi voluptas ad expedita ratione.</p>
        </article>
        <article class="terceiro">
            <h2>Artigo 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odit consequatur maiores, minima laborum quia totam qui dolorum modi distinctio neque minus excepturi perspiciatis architecto sequi voluptas ad expedita ratione.</p>
        </article>
    </section>
</body>
</html>