<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox2</title>
    <link rel="stylesheet" href="Flexbox2.css">
</head>
<body>
    <header>
        <h1>Complex Flexbox Example</h1>
    </header>
    <section>
        <article>
            <h2>Artigo 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odit consequatur maiores, minima laborum quia totam qui dolorum modi distinctio neque minus excepturi perspiciatis architecto sequi voluptas ad expedita ratione.</p>
        </article>
        <article>
            <h2>Artigo 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odit consequatur maiores, minima laborum quia totam qui dolorum modi distinctio neque minus excepturi perspiciatis architecto sequi voluptas ad expedita ratione.</p>
        </article>
        <article class="terceiro">
            <div id="buttons">
                <button>Smile</button>
                <button>Laugh</button>
                <button>Shrug</button>
                <button>Wink</button>
                <button>Blush</button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odit consequatur maiores, minima laborum quia totam qui dolorum modi distinctio neque minus excepturi perspiciatis architecto sequi voluptas ad expedita ratione.</p>
        </article>
    </section>
</body>
</html>