header{
    background-color: darkmagenta;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2, p{
    font-family: 'Arial', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid blueviolet;
    flex-wrap: wrap;
}

article{
    width: 300px;
    background-color: aqua;
    padding: 10px;
    box-sizing: border-box;
    flex: 3;
}

article.terceiro{
    flex: 5;
}

#buttons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    font-weight: 900;
}

#buttons button{
    width: 22%;
    padding: 5px;
}

#buttons button:last-child{
    font-weight: 900;
    width: 100%;
}