header{
    background-color: blueviolet;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2, p{
    font-family: 'Arial', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid blueviolet;
    flex-wrap: wrap;
}

article{
    width: 300px;
    background-color: aqua;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
}

article:nth-of-type(2){
    background-color: aquamarine;
    flex: 2;
}

/* article:nth-of-type(3){
    background-color: aquamarine;
    flex: 3;
} */

.terceiro{
    background-color: brown;
    flex: 3;
}
.terceiro > h2{
    color: white;
}

.terceiro > p{
    color: white;
}
